<div class="container">
  
	<div class="span-12">

		<h1>Editing Simple Vibrating Grizzly Capacity Guide</h1>

		<p>
            <strong>Current Calculated Approximate TPH: <span class="green-text"><%= @simple_vibrating_grizzly.approximate_tph.round(0) %></span></strong>
        </p>
		<%= render 'form' %>

		<%= link_to 'Show', @simple_vibrating_grizzly %> |
		<%= link_to 'Back', simple_vibrating_grizzlies_path %>

	</div>

</div>