<div class="container">
  
  <div class="span-12">

		<h1>Editing Vertical Shaft Impact Crusher</h1>

		<%= render 'form' %>

		<%= link_to 'Show', @vertical_shaft_impact_crusher %> |
		<%= link_to 'Back', location_vertical_shaft_impact_crushers_path(@vertical_shaft_impact_crusher.location) %>

	</div>

</div>