<div class="container" >
	<div class="span-12">
		<%= link_to 'Back', location_vertical_shaft_impact_crushers_path %>
	</div>
</div>

<div class="container">
  
	<div class="span-12">

		<h1>New Vertical Shaft Impact Crusher</h1>

		<%= render 'form' %>
	</div>

</div>