<div class="container" >
	<div class="span-12">
		<%= link_to 'Show', @horizontal_shaft_impact_crusher %> |
		<%= link_to 'Back', horizontal_shaft_impact_crushers_path %>
	</div>
</div>

<div class="container" >
	<div class="span-12">
		<h2><span class="badge grey">Edit</span> Horizontal Shaft Impact Crusher</h2>
	</div>
</div>

<div class="container" >
	<div class="span-6">	
		<%= render 'form' %>
	</div>

	<div class="span-6">
		<%= image_tag "form-graphics/horizontal-shaft-impact-crusher.png", :class => 'center' %>
	</div>
</div>