@import "variables";

a {
	color: $grey;

	&:hover {
		background: none;
		color: darken($grey, 12%);
	}
}

h2 {
	display: block;
	  padding-bottom: 0.5em;
	  margin-bottom: 1.0em;
	  font-size: 1.3rem;
	  border-bottom: 1px solid $grey-light;
}

h3 {
	color: $grey;
	display: block;
	font-weight: 400;	
	padding-bottom: 0.5em;
	margin-bottom: 1.0em;
	font-size: 1.1rem;
	border-bottom: 1px solid $grey-light;
}

h4 {
	display: block;
	width: 100%;
}

h2, h3, h4 {
	.kicker {
		display: inline-block;
		font-size: 0.8em;
		width: 100%;
		font-weight: 400;
		font-style: italic;
		color: $grey-medium;
	}
}

a.button, .button {
	color: #fff;
	background: $green;
	padding: 0.5em 1.0em;
	border: 1px slid darken($green, 12%);
	border-radius: 3px;
	text-decoration: none;

	&:hover {
		background: darken($green, 12%);
	border: 1px slid darken($green, 24%)
	}
}

// TEXT COLORS

.green-text {
	color: $green;
}

.red-text {
	color: $red;
}

.blue-text {
	color: $blue;
}

.yellow-text {
	color: $yellow;
}