<div class="container">
  <div class="span-6">

    <h1>Locations</h1>

  </div>

  <div class="span-6">

    <p class="text-right"><%= link_to '+ New Location', new_location_path, class: "button" %></p>

  </div>
</div>


<div class="container">
  
  
   
  <div class="cards">
    <% @locations.each do |location| %>
    <div class="span-4"> 
      <div class="card">
        <div class="card-header">
          <%= link_to "#{location.name}", location %>
        </div>
        <div class="card-copy">
          <p><strong><%= location.supervisor %></strong></p>
          <p><%= location.supervisor_email %></p>
        </div>
      </div>
    </div>
    <% end %>
    
  </div>

</div>